# Python 3.11 환경 사용

# 1. Frontend & UI
streamlit==1.31.0

# 2. RAG Framework (LangChain Ecosystem)
langchain==0.1.12
langchain-community==0.0.28
langchain-core==0.1.40

# 3. Model & Embeddings
langchain-openai==0.0.8
openai==1.13.3
tiktoken==0.6.0

# 4. Vector Database (ChromaDB)
langchain-chroma==0.1.2
chromadb==0.4.24

# 5. Etc (Data Handling)
pydantic==2.6.3